.chat__nav
	.chat__nav-elem
		img(src="./images/girl.jpg", alt="girl")
		.elem__text
			h1 Miranda Hops
			span Lorem ipsum xnj nj nfv...
			.online
			img.mute(src="./images/mute.svg", alt="mute")
			span.time 9:32
	.chat__nav-elem
		img(src="./images/girl.jpg", alt="girl")
		.elem__text
			h1 Miranda Hops
			span Lorem ipsum xnj nj nfv...
			span.time 17:32
	.chat__nav-elem.now
		img(src="./images/girl.jpg", alt="girl")
		.elem__text
			h1 Miranda Hops
			span Lorem ipsum xnj nj nfv...
			.online
			span.time 9:26
	.chat__nav-elem.now
		img(src="./images/girl.jpg", alt="girl")
		.elem__text
			h1 Miranda Hops
			span Lorem ipsum xnj nj nfv...
			span.time 9:25
	.chat__nav-elem.now
		img(src="./images/girl.jpg", alt="girl")
		.elem__text
			h1 Miranda Hops
			span Lorem ipsum xnj nj nfv...
			.online
			span.time 8:32
	.chat__nav-elem.now
		img(src="./images/girl.jpg", alt="girl")
		.elem__text
			h1 Miranda Hops
			span Lorem ipsum xnj nj nfv...
			span.time 9:32