body
	background-color: #846e6e;
	
section
	margin: 0 auto;
	width: 1024px;
	height: 766px;
	background-color: #fff;
	display: flex;

@import './src/nav/main.styl';
@import './src/detail/main.styl';
@import './src/chat/main.styl';