.dialog
	.dialog__header
		img(src="./images/search.svg", alt="search")
		input(type="text" placeholder="Search message...")
	.dialog__main
		.message__fromMe.message
			span.text Blalalal lalal lalalalala
				span.time 01:14
		.message__toMe.message
			img(src="./images/girl.jpg", alt="friend")
			span.text Blalalal lalal lalalalala
				span.time 01:14
	include ../send/index.pug