.send
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fff;
	width: 100%;
	padding: 4px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	input
		width: 390px;
		height: 60px;
		border: none;
		
	img
		margin-left: 10px;
		width: 20px;
		height: 20px;
		margin-left: auto;
	.send
		margin-left: auto;
		margin-right: 15px;
	.clip
		margin-right: 15px;
	.smile
		margin-right: 15px;