.detail__header
	ul
		li 
			a(href="#") Home
		li 
			a(href="#") Network

	.detail__acc
		img(src="./images/acc.jpg", alt="I am")
		span Sarah Freeman
		img.arrow(src="./images/arrow.svg" alt='arrow')