.nav__header
	img(src="./images/logo.png", alt="logo")

.nav__elements
	.nav__elements-elem
		img(src="./images/calen.png", alt="calendar")
	.nav__elements-elem
		img(src="./images/pers.png", alt="person")
	.nav__elements-elem
		img(src="./images/tools.png", alt="settings")
	.nav__elements-elem
		img(src="./images/commun.png", alt="community")
	.nav__elements-elem
		img(src="./images/chat.png", alt="chat")
