.chat
	padding-top: 45px;
	background-color: #f9fafc;
	width: 100%;
	height: 100%;
	display: flex;
.now
	background-color: #fff;

@import './chat_nav/main.styl';
@import './dialog/main.styl';
@import './send/main.styl';