.send
	input(type="text" placeholder="Write a message")
	img.smile(src="./images/smile.svg", alt="smile" )
	img.clip(src="./images/clip.svg", alt="clip")
	img.send(src="./images/send.png", alt="send")