.nav
	// width: 280px;
	width: 80px;
	height: 100%;
	// padding: 17px 22px;
	background-color: #01134e;
	&__header
		padding: 17px 22px;
	&__elements
		margin-top: 40px;
		&-elem
			margin: 0 auto;
			margin-top: 50px;
			height: 28px;
			display: flex;
			justify-content: center;
			
			&:hover
				cursor: pointer;
				border-left: 3px solid #0ad69c;